.housing__rate {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.fa-star {
  color: #ff6060;
  font-size: 30px;
}

.grey {
  color: #e3e3e3;
}

@media (max-width: 425px) {
  .housing__rate {
    gap: 5px;
  }

  .fa-star {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .fa-star {
    font-size: 20px;
  }
}